<!--{% for art in arts %}
    <p>{{ art }}<p>
{% endfor %}

<select>
{% for art in arts %}
   <option>{{ art }}</option>
{% endfor %}
</select>
-->
{% load static %}
<!doctype html>

<html lang="uk">
<head>
  <meta charset="utf-8">

  <title>Деталі книги</title>
  <!--<meta name="description" content="Опис такої-то книги">
  <meta name="author" content="">-->
  <link rel="stylesheet" href="{% static 'css/book.css' %}">
  <script src="script.js"></script>
</head>
<body>
	<div id="author">
		<div class="value">Автор:</div>
		<div class="key">Шевченко</div>
	</div>
</body>
</html>