{% load static %}
<!doctype html>

<html lang="uk">
<head>
  <meta charset="utf-8">
  <title>Знайти книгу</title>
  <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<body>
	<h1>Знайти книгу</h1>
    

 <form action="{% url 'search:index' %}" method="get">
    <div class="input-group">
        <input id="search" name="q" type="text" placeholder="Поиск">
        <span class="input-group-btn">
            <button type="submit">SEARCH</button>
        </span>
    </div>
</form>




<script src="{% static 'js/add.js' %}"></script>
</body>
</html>





 