{% load static %}
<!doctype html>

<html lang="uk">
<head>
  <meta charset="utf-8">
  <title>Main</title>
  <link rel="stylesheet" href="{% static 'css/book.css' %}">
  <script src="script.js"></script>
</head>
<body>
	<a href="/about/kobzar-65156-5456">Press here to open information about First book</a>
	<br><br><br><br>
	<a href="/about/zahar-berkut-88005553535">Press here to open information about Second book</a>
	<br><br><br><br>
	<a href="/about/starij-i-more-978-0-684-80122-3/">Press here to open information about Third book</a>
	<br><br><br><br>
	<a href="/about/majster-i-margarita-794613/">Press here to open information about Third book</a>
	<br><br><br><br>
	<a href="{% url 'add-book' %}">Press here to add new book</a>
</body>
</html>

