{% load static %}
<!doctype html>

<html lang="uk">
<head>
  <meta charset="utf-8">
  <title>Головна сторінка</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
	<h1><a href="/">Проект "Бібліотека"</a></h1><br><br>
	
	<a href="/search" class="btn btn-primary">Пошук</a>
	<br><br>
	<a href="{% url 'add-book' %}" class="btn btn-primary" >Додати книгу</a>
	<br><br>
	<a href="/search/result/?n=&a=&publ=&desc=&ser=&pers=&isbn=&invnum=&ciph=&yfr=&yto=&plc=&lang=&cntr=&subj=&art=&gr=" class="btn btn-primary">Всі книги</a>
	
	<br><br><br><br>
	<h5>Переглянути приклади книги</h5>
	<a href="/about/kobzar-65156-5456" class="btn btn-primary">Перша</a>
	<a href="/about/zahar-berkut-88005553535" class="btn btn-primary">Друга</a>
	<a href="/about/starij-i-more-978-0-684-80122-3/" class="btn btn-primary">Третя</a>
	<a href="/about/majster-i-margarita-794613/" class="btn btn-primary">Четверта</a>
</div>
</body>
</html>

