{% load static %}
<!doctype html>

<html lang="uk">
<head>
  <meta charset="utf-8">
  <title>Знайти книгу</title>
  <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<body>
	<h1>Знайти книгу</h1>
    

<form id= "searchform" action="/search-result/" method="get">
        <div class="value">Назва:</div>
        <div class="key">
        	<input type="text" name="n">
        </div>
        
        <div class="value">Автор:</div>
        <div class="key">
        	<input type="text" name="a">
        </div>
        
        <div class="value">Видання:</div>
        <div class="key">
        	<input type="text" name="publ">
        </div>
        
        <div class="value">Опис:</div>
        <div class="key">
        	<input type="text" name="desc">
        </div>
        
        <div class="value">Серія:</div>
        <div class="key">
        	<input type="text" name="ser">
        </div>
        
        <div class="value">Персоналія:</div>
        <div class="key">
        	<input type="text" name="pers">
        </div>
        
        <div class="value">ISBN:</div>
        <div class="key">
        	<input type="text" name="isbn">
        </div>
        
        <div class="value">Інвентарний номер:</div>
        <div class="key">
        	<input type="text" name="invnum">
        </div>
                
        <div class="value">Шифр книги:</div>
        <div class="key">
        	<input type="text" name="ciph">
        </div>
                
        <div class="value">Рік з:</div>
        <div class="key">
        	<input type="text" name="yfr">
        </div>
                
        <div class="value">Рік до:</div>
        <div class="key">
        	<input type="text" name="yto">
        </div>
                
        <div class="value">Місцезнаходження:</div>
        <div class="key">
        	<input type="text" name="plc">
        </div>
                
        <div class="value">Мова:</div>
        <div class="key">
        	<input type="text" name="lang">
        </div>

        <div class="value">Групи:</div>
        <div class="key">
        	<input type="text" name="gr">
        </div>
                
        <div class="value">Тематика:</div>
        <div class="key">
        	<input type="text" name="subj">
        </div>
                
        <div class="value">Мистецтво:</div>
        <div class="key">
        	<input type="text" name="art">
        </div>
                
        <div class="value">Країна:</div>
        <div class="key">
        	<input type="text" name="cntr">
        </div>
        



        <input type="submit" value="Search">
    </form>


<script type="text/javascript">
	var myForm = document.getElementById('searchform');

myForm.addEventListener('submit', function () {
    var allInputs = myForm.getElementsByTagName('input');

    for (var i = 0; i < allInputs.length; i++) {
        var input = allInputs[i];

        if (input.name && !input.value) {
            input.name = '';
        }
    }
});
</script>
<!--<script src="{% static 'js/add.js' %}"></script>-->
</body>
</html>





 