{% load static %}
<!doctype html>

<html lang="uk">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Знайти книгу</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">Електронний каталог</a>
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'add-book' %}">Додати</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger active" href="{% url 'search-book' %}">Пошук</a>
            </li>
        </ul>
    </div>
</nav>
<header>
    <div class="container h-100">
        <div class="row justify-content-md-center">
            <div class="col-md-8 order-md-4">
                <h4 class="mb-3">Знайти книгу</h4>
                <form action="/search/result" method="GET" id="search-form">
                    <div id="div_id_a" class="form-group col-md-6">
                        <label for="id_a" class="">Автор</label>
                        <input type="text" name="a" maxlength="200" autocomplete="off" class="textinput textInput form-control" id="id_a">
                    </div>
                    <div id="div_id_n" class="form-group col-md-6">
                        <label for="id_n" class="">Назва</label>
                        <input type="text" name="n" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_n">
                    </div>
                    <div id="div_id_publ" class="form-group col-md-6">
                        <label for="id_publ" class="">Місце видання</label>
                        <input type="text" name="publ" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_publ">
                    </div>
                    <div id="div_id_add" class="form-group col-md-6">
                        <label for="id_add" class="">Додатково</label>
                        <input type="text" name="add" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_add">
                    </div>
                    <div id="div_id_ser" class="form-group col-md-6">
                        <label for="id_ser" class="">Серія</label>
                        <input type="text" name="ser" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_ser">
                    </div>
                    <div id="div_id_pers" class="form-group col-md-6">
                        <label for="id_pers" class="">Персоналії</label>
                        <input type="text" name="pers" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_pers">
                    </div>
                    <div id="div_id_invnum" class="form-group col-md-6">
                        <label for="id_invnum" class="">Інвентарний номер</label>
                        <input type="text" name="invnum" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_invnum">ʼ
                    </div>
                    <div id="div_id_yfr" class="form-group col-md-3" style="display: inline-block;">
                        <label for="id_yfr" class="">З року</label>
                        <input type="text" name="yfr" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_yfr">
                    </div>
                    <div id="div_id_yto" class="form-group col-md-3" style="display: inline-block;">
                        <label for="id_yto" class="">До року</label>
                        <input type="text" name="yto" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_yto">
                    </div>
                    <div id="div_id_plc" class="form-group col-md-6">
                        <label for="id_plc" class="">Місцезнаходження</label>
                        <select name="plc" class="custom-select d-block w-100 form-control custom-select"
                            id="id_plc">
                            <option value="" selected="">---------</option>
                            <option value="4">Золочів</option>
                            <option value="2">Музей книги</option>
                            <option value="3">Олеськ</option>
                            <option value="1">Палац Потоцьких</option>
                        </select>
                    </div>
                    <div id="div_id_lang" class="form-group col-md-6">
                        <label for="id_lang" class="">Мова</label>
                        <input type="text" name="lang" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_lang">
                    </div>
                    <div id="div_id_subj" class="form-group col-md-6">
                        <label for="id_subj" class="">Тематика</label>
                        <select name="subj" class="custom-select d-block w-100 form-control custom-select"
                            id="id_subj">
                            <option value="" selected="">---------</option>
                            <option value="12">Історія</option>
                            <option value="13">Історія Львова</option>
                            <option value="17">Архівознавство</option>
                            <option value="5">Бібліографія</option>
                            <option value="6">Бібліотечна Справа</option>
                            <option value="10">Етика</option>
                            <option value="14">Етнологія. Етнографія. Фольклор</option>
                            <option value="20">Засоби масової інформації</option>
                            <option value="3">Книгознавство</option>
                            <option value="4">Культорологія</option>
                            <option value="15">Літературознавство</option>
                            <option value="7">Музеєзнавство</option>
                            <option value="1">Наука і Культура</option>
                            <option value="21">Нумізматика</option>
                            <option value="9">Психологія</option>
                            <option value="11">Релігія</option>
                            <option value="19">Соціологія</option>
                            <option value="16">Туризм</option>
                            <option value="18">Філателія</option>
                            <option value="8">Філософія</option>
                            <option value="2">Художня Література</option>
                        </select>
                    </div>
                    <div id="div_id_art" class="form-group col-md-6">
                        <label for="id_art" class="">Мистецтво</label>
                        <select name="art" class="custom-select d-block w-100 form-control custom-select"
                            id="id_art">
                            <option value="" selected="">---------</option>
                            <option value="7">Історія мистецтва</option>
                            <option value="18">Антикваріат</option>
                            <option value="4">Архітектура</option>
                            <option value="2">Графіка</option>
                            <option value="5">Декоративно-прикладне мистецтво</option>
                            <option value="15">Дизайн</option>
                            <option value="1">Живопис</option>
                            <option value="13">Кіно</option>
                            <option value="11">Музика</option>
                            <option value="9">Мініатюра</option>
                            <option value="14">Образотворче мистецтво</option>
                            <option value="17">Охорона пам’яток мистецтва. Художні музеї. Колекції</option>
                            <option value="16">Реставрація</option>
                            <option value="8">Сакральне мистецтво</option>
                            <option value="3">Скульптура</option>
                            <option value="12">Театр</option>
                            <option value="10">Теорія мистецтва</option>
                            <option value="6">Фотомистецтво</option>
                        </select>
                    </div>
                    <div id="div_id_cntr" class="form-group col-md-6">
                        <label for="id_cntr" class="">Країна</label>
                        <input type="text" name="cntr" maxlength="200" autocomplete="off"
                            class="textinput textInput form-control" id="id_cntr">
                    </div>
                    <div id="div_id_gr" class="form-group col-md-6">
                        <label for="id_gr" class="">Групи</label>
                        <select name="gr" class="custom-select d-block w-100 form-control custom-select"
                            id="id_gr">
                            <option value="" selected="">---------</option>
                            <option value="4">Каталоги</option>
                            <option value="6">Каталоги-дублети</option>
                            <option value="1">Книги Вітчизняні</option>
                            <option value="2">Книги іноземні</option>
                            <option value="3">Періодика</option>
                            <option value="5">Фонд Возницького</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-1 col-sm-4"><input type="submit"
                            class="btn btn-primary btn btn-primary btn-lg btn-block"
                            id="submit-id-search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Електронний каталог</p>
</footer>
<script>

    let myForm = document.getElementById('search-form');
    myForm.addEventListener('submit', function () {
        let allInputs = myForm.querySelectorAll('input,select');

        for (let i = 0; i < allInputs.length; i++) {
            let input = allInputs[i];
            if (input.name && !input.value) {
                input.name = '';
            }
        }

    });

</script>
</body>
</html>