{% load static %}
<!doctype html>
<html lang="uk">
<head>
  <meta charset="utf-8">
{% for book in books %}
  <title>Деталі книги {{ books.name }}</title>
  
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/about/style.css' %}">
</head>
<body>
<div class="container">
	<h1><a href="/">Проект "Бібліотека"</a></h1><br><br>
	<div id="name">
		<div class="value">Назва:</div>
    	<div class="key">{{ book.name }}</div>
	</div>
	<div id="author">
		<div class="value">Автор:</div>
    	<div class="key">{{ book.author }}</div>
	</div>
	<div id="publication">
		<div class="value">Видання:</div>
    	<div class="key">{{ book.publication }}</div>
	</div>
	<div id="description">
		<div class="value">Опис:</div>
    	<div class="key">{{ book.description }}</div>
	</div>
	<div id="series">
		<div class="value">Серія:</div>
    	<div class="key">{{ book.series }}</div>
	</div>
	<div id="personality">
		<div class="value">Персоналія:</div>
    	<div class="key">{{ book.personality }}</div>
	</div>
	<div id="additional">
		<div class="value">Додаткові дані:</div>
    	<div class="key">{{ book.additional }}</div>
	</div>
	<div id="isbn">
		<div class="value">ISBN:</div>
    	<div class="key">{{ book.isbn }}</div>
	</div>
	<div id="inventory_number">
		<div class="value">Інвентарний номер:</div>
    	<div class="key">{{ book.inventory_number }}</div>
	</div>
	<div id="cipher">
		<div class="value">Шифр книги:</div>
    	<div class="key">{{ book.cipher }}</div>
	</div>
	<div id="year">
		<div class="value">Рік:</div>
    	<div class="key">{{ book.year }}</div>
	</div>
	<div id="place">
		<div class="value">Місцезнаходження:</div>
    	<div class="key">{{ book.place }}</div>
	</div>
	<div id="language">
		<div class="value">Мова:</div>
    	<div class="key">{{ book.language }}</div>
	</div>
	<div id="group">
		<div class="value">Групи:</div>
    	<div class="key">{{ book.group }}</div>
	</div>
	<div id="subject">
		<div class="value">Тематика:</div>
		
    	<div class="key">{{ book.subject }}</div>
	</div>
	<div id="art">
		<div class="value">Мистецтво:</div>
    	<div class="key">{{ book.art }}</div>
	</div>
	<div id="country">
		<div class="value">Країна:</div>
    	<div class="key">{{ book.country }}</div>
	</div>
	<br><br>
	
	<a href="/about/{{ book.slug }}/edit" class="btn btn-primary">Редагувати</a>
	<a href="/about/{{ book.slug }}/delete" class="btn btn-secondary">Видалити</a>
	{% endfor %}
</div>
</body>
</html>

