{% load static %}
<!doctype html>

<html lang="uk">
<head>
  <meta charset="utf-8">
  <title>Редагувати книгу</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/add/style.css' %}">
</head>
<body>
<div class="container">
	<h1><a href="/">Проект "Бібліотека"</a></h1><br><br>

	<h3>Редагувати книгу</h3>
    <form method="POST">{% csrf_token %}
        <{{ form.as_p }}
        </div>
        



        <input type="submit" value="Update book">
    </form>
</div>
<script src="{% static 'js/add/script.js' %}"></script>
</body>
</html>